#mainmains{
	text-decoration: none;
	padding-top:10px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	border-radius:10px;
	margin:5px;
	box-shadow:0 5px 5px 2px #484848;
	-moz-box-shadow:0 5px 5px 2px #484848;
	-webkit-box-shadow:0 5px 5px 2px #484848;
	border:1px solid #000;
	background: #fff;
	color: #222222;
	font-size:10px;
	display: inline-block;
	width: 435px;
	height: 150px;
	text-align: auto;
	margin-bottom: 5px;
}
#mainmains1{
	text-decoration: none;
	padding-top:10px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	border-radius:10px;
	margin:5px;
	box-shadow:0 5px 5px 2px #484848;
	-moz-box-shadow:0 5px 5px 2px #484848;
	-webkit-box-shadow:0 5px 5px 2px #484848;
	border:1px solid #000;
	background: #fff;
	color: #222222;
	font-size:10px;
	display: inline-block;
	width: 435px;
	height: 150px;
	text-align: auto;
	margin-bottom: 5px;
}